@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./vendor/roboto.css);

body {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #6b6a8c;
}
.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* margin-top: 100px; */
    max-width: 1080px;
    align-items: flex-start;
    justify-items: flex-start;
}

.header__title {
    font-family: 'RobotoFlex', Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    margin-top: 50px;
}

.header__subtitle {
    font-family: 'RobotoFlex', Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 400;
    margin: 0;
}


.footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 1080px;
    align-items: flex-start;
    justify-items: flex-start;
    background-color: #fcf9f5;
    font-size: 16px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    align-items: flex-start;
    justify-items: flex-start;
}
.intro {
    margin: 0 auto;

}

.intro__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1080px;
}

.intro__text-container {
    display: flex;
    flex-direction: column;
}

.intro__text {
    margin: 35px auto 0 auto;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-style: italic;

}

.intro__text-2 {
    margin: 100px auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 1080px;
    font-style: italic;

}

.intro__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__img {
    width:100%;
    max-width: 340px;
    max-height: 320px;
}


.final__img-container{
    display: flex;
    justify-content: center;
    align-items: end;
}

.photo {
    height: 580px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url("./images/main.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-photo {
    width: 100%;
    height: 100%;


}

.main-title-box {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;

}

.main-title-text {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;


}

.illustrator-name {
    font-size: 12px;
    font-style: italic;
    margin: 5px auto 0 10px;
}

.line-2 {
    width: 50%;
    height: 1px;
    border-bottom: 1px solid rgb(1, 1, 1);
    margin: 150px auto 110px auto;

}

.line {
    width: 50%;
    height: 1px;
    border-bottom: 1px solid rgb(1, 1, 1);
    margin: 110px auto 0px auto;

}

.line_main{
    margin-top: 210px;
}
.card-new {
    margin: 0 auto;

}

.card-new__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 700px;
}

.card-new__text-container {
    display: flex;
    flex-direction: column;
}

.card-new__text {
    margin: 35px auto 0 auto;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 400px;
    font-style: italic;

}

.card-new__title {
    width: 100%;
    text-align: center;

}

.card-new__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-new__img {
    max-width: 300px;
    max-height: 300px;
}

.card-big__container {
    display: flex;
    flex-direction: row;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
    margin: 0;
    width: 100%;
    max-width: 1280px;

}
.card-big-letter{
    position: absolute;
    height: 150px;
}

.card-big-letter_f, .card-big-letter_n, .card-big-letter_r
{
    right: 5%;
    bottom: 5%;
}

.card-big-letter_d{
    left: 5%;
    bottom: 5%;
}

.card-big__container_invisible {
    display: none;
}

.card-big__container_d {
    background-image: url("./images/demon.png");
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: end;
}

.card-big__container_n {
    background-image: url("./images/small-images/IMG_1541.JPG");
    background-color: #000;
    justify-content: start;
}

.card-big__container_r {
    background-image: url("./images/small-images/IMG_1545.JPG");
    background-color: #000;
    justify-content: start;
}
.card-big__container_f {
    background-image: url("./images/IMG_1562.PNG");
    background-color: #000;
    justify-content: start;
}
.card-big__container_u {
    background-image: url("./images/yu.jpg");
    background-color: #000;
    justify-content: start;
}

.card-big__text-container {

    display: flex;
    flex-direction: column;
    width: 400px;
    background: transparent;
    margin-top: 0px;


}

.card-big__text-container_d {

    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 50px;


}

.card-big__text-container_n {

    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;


}
.card-big__text-container_u {

    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;


}
.card-big__text-container_f {

    display: flex;
    flex-direction: column;
    width: 420px;
    margin-left: 50px;

}
.card-big__text-container_r {

    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;

}
.card-big__title {
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
    padding: 0;
    width: 380px;
    color: white;
    margin-bottom: 0;
    margin-right: 50px;
    width: 100%;

}

.card-big__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    color: white;
    background: transparent;

}

.cards-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-small__container_ya {
    position: relative;

}



.percent {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 110%;
    top: 50%;
}

.percent-title {
    font-size: 64px;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
    margin: 0;
}

.percent-subtitle {
    margin: 0;
    font-size: 12px;
    width: 110px;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
}

.card-small__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    margin-top: 70px;

}

.card-small__foto {
    width: 330px;
    height: 330px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.card-small__foto-full {
    width: 1280px;
    height: 500px;
    background-image: url("./images/demonisation.JPG");
    background-size: cover;
}


.card-small__title {
    width: 100%;
    text-align: center;

}

ul {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
}


.ul-numeric {
    list-style-type: decimal;

}


.ul-numeric_fon {
    background-color: #f6f6fb;
}
.ul-simple {
    list-style-type: none;
    margin: 0;
}

.ul-simple-2 {
    list-style-type: none;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    max-width: 580px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0;
    margin-top: 35px;
    padding-left: 20px;

}

li {
    margin-bottom: 10px;
}

.small__title-text {
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    margin-top: 35px;
}

.text {
    max-width: 550px;
}

.text_ya{
    max-width:800px;
}

.text-box {
    display: block;
    margin: 0 auto;
    align-self: flex-start;
}

.text-box__paragraf {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;


}

.text-box__paragraf_bold {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Alegreya', Arial, Helvetica, sans-serif;
}

th {
    padding: 10px;
    border: 1px solid #A9E2CC;
}

td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}

@media screen and (max-width: 1200px) {
    .text_ya{
        max-width: 550px;
    }

    .percent{
        left:95%;
    }
}

@media screen and (max-width: 1140px) {
    .photo {
        height: 400px;
        margin: 0;
    }

    .illustrator-name {
        font-size: 8px;
    }

    .header {
        max-width: 600px;
        align-items: flex-start;
    }

    .header__title {
        font-size: 45px;
    }

    .header__subtitle {
        font-size: 45px;
    }

    .intro__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro__text {
        margin: 20px auto 0 auto;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-style: italic;

    }

    .ul-simple-2 {
        margin: 0 auto;

        margin-top: 20px;
        padding-left: 20px;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-style: italic;
    }

    .intro__text-2 {
        margin: 100px auto;
        font-size: 26px;
        max-width: 600px;

    }

    .intro__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

        .final__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    
}

.card-big__container_vis {
    display: inherit;
}

.card-small__container_vis {
    display: none;
}

@media screen and (max-width: 950px) {
    .percent{
        display:none;
    }
}

@media screen and (max-width: 900px) {
    .intro__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-big__container {
        display: none;
    }

    .card-big__container_vis {
        display: none;
    }

    .card-small__container_vis {
        display: inherit;
    }


}

@media screen and (max-width: 830px) {
    .photo {
        height: 330px;
        margin: 0;
        background-size: contain;
    }

    .illustrator-name {
        font-size: 6px;
        margin: 2px auto 0 5px;
    }

    .card-new__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 400px;
    }
}

@media screen and (max-width: 650px) {
    .intro__text-container{
        max-width: 320px;
    }
    .photo {
        height: 330px;
        margin: 0;
        background-size: cover;
    }

    .text{
        max-width: 320px;
    }

    .text-box__paragraf{
        font-size: 20px;
        line-height: 24px;
    }

    .small__title-text{
        font-size: 36px;
    }

    .card-small__foto{
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;
    }

    .main-title-text{
        font-size: 40px;
        text-align: center;
    }

    .intro__text {
        width:100%;
        max-width: 320px;
        font-size:20px;
    }

    .header {
        max-width: 320px;
    }

    .header__title {
        width: 100%;
        max-width: 320px;
        font-size: 36px;
    }

    .header__subtitle {
        width: 100%;
        max-width: 320px;
        font-size: 36px;
    }

    .intro__text-2 {
        max-width: 320px;
        width: 100%;
        font-size: 24px;
    }

    .ul-simple-2 {
        max-width: 320px;
        font-size: 20px;
    }
    
    .line-2{
        margin: 80px auto 60px auto;
    }
}